[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
clearml = "*"
tensorboard = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
awscli = "*"
scikit-learn = "*"
allegroai = "*"
pathlib2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
